.card-grid{
    position: absolute;
    top: 70px;
    left: 60px;
    align-self: center;
    display: grid;
    grid-template: auto/1fr 1fr 1fr 1fr;
    transition: top 0.2s ease;
    margin-bottom: 200px;
  }
  
  .card {
    width: auto;
    height: 620px;
    box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 50px;
    padding: 10px;
    transition: transform 0.2s ease-in-out, z-index 0s, height 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    white-space: wrap;
  
    &:hover {
      transform: scale(1.2);
      height: auto; /* Adjust height to fit full content */
      z-index: 10; /* Bring the card to the front */
    }
  }
  
  
  .card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto; /* Adjust height to fit content */
    transition: -webkit-line-clamp 0.2s ease-in-out;
  
    /* On hover, show full description */
    .card:hover & {
      -webkit-line-clamp: unset;
      white-space: normal;
    }
  }
  
  .card-photo{
    width: 100%;
    height: 400px;
    transition: opacity 0.5s ease-in-out;
  
  }
  
  .fa-shopping-cart{
    font-size: 24px;
    color: #878787;
    right: 10px;
    margin-left: 85%;
  }
  
  .card-price{
    margin-top: -15px;
  }
  
  .card-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 19px;
    font-family: Acta Display W01 Book;
  }
  
  .star-photo{
  height: 15px;
  margin-right: 5px;
  }
  
  .star-items{
  display: flex;
  align-items: center;
  margin-top: -20px;
  }
  
  .btn{
  position: relative;
  background-color: #a8a7a7;
  color: white;
  font-size: 12px;
  padding: 5px 2px;
  margin-left: 70%;
  margin-right: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 90px;
  height: auto;
  }
  
  .btn:hover {
    background-color: black;
  }
  