.content-div {
    position: absolute;
    top: 70px;
    width: 100%;
    box-sizing: border-box;
}

.category-buttons {
    padding: 10px 100px;
    display: flex;
    position: relative;
    top: 0px;
    max-width: 100vw;
    height: 50px;
    background-color: white;
    justify-content: space-around;
}

.category-buttons button {
    height: 40px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
}

.category-buttons button:hover {
    color: #7d7c7c;
    font-size: 30px;
}

.category-buttons .active {
    font-size: 34px;
    color: #7d7c7c;
}
